/**
 *  This are the styles.
 *
 *  @author Paweł Kuźnik <pawel.kuznik@gmail.com>
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

html body
{
    color: #3E4651;
    font-family: "Ubuntu";
}

html, body
{
    min-height: 100%;
}

button
{
    border: none;
    background-color: #0B486B;
    transition: opacity .4s;
    color: white;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .15em;
}

input[type="text"],
textarea
{
    font-family: "Ubuntu Mono";
}

button:hover
{
    opacity: 0.9;
}

h1
{
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    font-size: 3em;
}

p
{
    line-height: 1.4em;
}

.main
{
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.code-block
{
    margin-bottom: 3em;
}

.code-block textarea,
.code-block input
{
    display: block;
    width: 100%;
    box-sizing: border-box;

    margin-top: 1em;
    margin-bottom: 1em;

    padding: .5em 1em;

    background-color: #E4E4E4;
    border: .1em solid #D4D4D4;
}

.code-block textarea:focus,
.code-block input:focus
{
    outline: 0;
    border-color: #0B486B;
}

.code-block textarea
{
    min-height: 10em;
}

table
{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
}

table thead th 
{
    border-bottom: .1em solid #3E4651;
}

table thead th,
table tbody td
{
    text-align: left;

    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 0;
    padding-right; 1em;
}
